@import url("photographer.css");
@import url("style.css");



/* template */
.circle_img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }


.overlay{
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: #00000085;
  opacity: 0;
}

.overlay:hover{
  opacity: 1;
}

.sous-titre-overlay{
  display: flex;
}

.sous-titre-overlay a{
  background-color: black;
  color: white;
}

.vitrine {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.vitrine img{
 width: 100%;
 height: 540px;
 object-fit: cover;
}

.vitrine p{
  background-color: black;
  color: white;
  padding: 1em;
}

*{
  text-decoration: none;
}